.form-login-header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-login-body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    min-height: 50px;
}
.form-title {
    font-size: 14px;
    font-weight: 600;
    color: var(--txt-primary);
}
.form-login-footer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
